@using CA2_IMeet.Models
@model IEnumerable<Booking>

@{
    ViewBag.Title = "ViewMyBookings";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (Model.Count() > 0)
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MeetingReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Timeslot
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetingRoom.Name)
        </th>
        <th></th>
    </tr>

    @foreach (Booking item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date.ToShortDateString())
            </td>
            <td>
                From @item.Start_DateTime.ToShortTimeString() to @item.End_DateTime.ToShortTimeString())
            </td>
            <td>
                @Html.ActionLink(@item.MeetingRoom.Name, "Details", "MeetingRooms", new { keyword = item.MeetingRoom.Name }, null)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookingId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BookingId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BookingId })
            </td>
        </tr>
    }

</table>

}
else
{
    <h3>You do not have any booking for future meetings.</h3>
}
