@model CA2_IMeet.Models.MeetingRoom

@{
    ViewBag.Title = "Delete";
}

<p class="error">@ViewBag.ErrorMessage</p>
<h2>Are you sure you want to <strong>delete</strong> this Meeting Room?</h2>
<h5 class="text-muted">You will not be able to delete a meeting room with future bookings</h5>
<h5 class="text-warning">Once deleted, this action cannot be undone.</h5>
<div>
    <br />
    <h4>Meeting Room Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
