@model IEnumerable<CA2_IMeet.Models.MeetingRoom>

@{
    ViewBag.Title = "Index";
}

@Html.Raw(TempData["msg"])


<h2>Meeting Rooms</h2>

<p margin-top: 10px;>
    @Html.ActionLink("Add a New Meeting Room", "Create")
</p>


<hr />
<div class="container">
    <div class="pull-right">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="search-text">Meeting Room Name</label>
                @Html.TextBox("SearchString", "", new { @class = "form-control", @placeholder = "Search Room Name" })
            </div>
            <button type="submit" class="btn btn-success" id="search-btn">Search</button>
        </form>
    </div>
</div>
<br/>

<table class="table table-striped">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Size", "Index", new { sortOrder = ViewBag.SizeSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoomId }) |
            <!--@Html.ActionLink("Details", "Details", new { id=item.RoomId }) |-->
            @Html.ActionLink("Delete", "Delete", new { id=item.RoomId })
        </td>
    </tr>
}

</table>
